body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
}
h1 {
  font-size: 10rem;
  font-family: 'Courier New', Courier, monospace;
}

.letter {
  transition: color 1000ms;
}